.calc-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
}

.calculator {
  width: min-content;
  background-color: gray;
}

.elem {
  display: flex;
}

.result {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.result h3 {
  text-align: end;
  color: white;
  margin-right: 4px;
  font-size: 1.5rem;
  font-weight: 300;
}

#left {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#right {
  display: flex;
  flex-direction: column;
}

#right button {
  background-color: orange;
}

#zero {
  width: auto;
  grid-column-end: span 2;
}

@media screen and (max-width: 802px) {
  .calc-container {
    justify-content: center;
  }

  .result {
    height: 45px;
  }

  button {
    width: 60px;
    height: 45px;
  }
}
