.navBar {
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 10%;
  margin: auto;
  flex-wrap: wrap;
}

h1 {
  font-size: 3.2rem;
}

.links {
  display: flex;
  gap: 24px;
}

.links li {
  list-style: none;
}

.links li a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

.links li a:hover {
  font-weight: bold;
}