.container {
  padding: 0 10%;
}

.home h2 {
  font-size: 2rem;
}

.quote {
  display: flex;
  align-items: center;
  height: 100%;
}

.quote h2 {
  font-style: italic;
  text-align: center;
}

.home p {
  margin-top: 24px;
  line-height: 24px;
}

button {
  cursor: pointer;
  width: 104px;
  height: 78px;
  font-size: 1rem;
  border: 1px solid rgba(182, 182, 182, 0.924);
}
